* {
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;
  font-family: Roboto, "Roboto Mono", Comfortaa, Calibri;
}

.paginas {
  width: 100%;
  color: white;
  text-align: center;
}

.titel {
  padding: 10px;
}

#page1 {
  background: linear-gradient(to right, #14e5d4, #119be0);
}

#page2 {
  background: linear-gradient(to left, #ff0094, #ff3b00);
}

#page3 {
  background: linear-gradient(to left, #e900ff, #119be0);
}

#page4 {
  background: linear-gradient(to right, #00ff72, #119be0);
}

#page5 {
  background: linear-gradient(to left, #A300CC, #F433AB);
}

.next {
  background: linear-gradient(to right, #ff0000, #ff8c00);
  padding: 10px;
  color: white;
  border-radius: 7px;
  font-size: 20px;
  
}

.sidebar {
  position: fixed;
  transition: 0.3s;
  color: transparent;
  height: 35px;
}

#sidebar1 {
  top: 100px;
}

#sidebar2 {
  top: 150px;
}

#sidebar3 {
  top: 200px;
}

#sidebar4 {
  top: 250px;
}

#sidebar5 {
  top: 300px;
}

.sidebar:hover {
  color: white;
}

.sideimg {
  height: 30px;
  padding-left: 3px;
  float: left;
}

.sidetxt {
  padding-left: 5px;
  float: left;
}

#badges {
  margin: auto;
}
