* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, "Roboto Mono", Comfortaa, Calibri;
}

.backgroundimage {
  background-color: #582626;
}

.art {
  background-color: #AA3939;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: 0.2s;
  padding: 10px;
  width: 45%;
  float: left;
  display: inline-table;
  margin: 1rem;
  top: 0;
}

.art1 {
  clear: left;
  width: 95%;
}

.art:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu {
  background-color: #AA3939;
  padding: 30px;
  text-align: center;
}

.menulink {
  text-decoration: none;
  color: black;
  background-color: #FC3B3B;
  padding: 30px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  width: 50%;
  color: white;
}

.menulink:hover {
  background-color: #D33C3C;
}
