.questionButton {
    background-color: transparent;
    border: 3px solid white;
    padding: 5px;
    color: white !important;
    /* width: 50vw; */
    font-size: 40;
    height: 10vh;
    text-decoration: none;
    display: block;
}

.questionButton:hover {
    background-color: transparent;
    border: 3px solid white !important;
    padding: 5px;
    color: white;
    /* width: 50vw; */
    font-size: 40;
    height: 10vh;
    display: block;

}




#playerList {
    list-style-type:none !important;
    /* color: blue; */
    margin: 0;
    padding: 0;
}


* {
    font-family: 'Roboto Mono', monospace !important;

}


.left {
    left:-8.33%;
    text-align: left;
    float: left;
    width:50%;
    z-index:-10;
  }
  
  .right {
    left:31.25%;
    top: 75px;
    float: right;
    text-align: right;
    z-index:-10;
    width:50%;
  }
